<!-- <div class="container-fluid">
            <!-- Responsive navbar-->
            <div class="nav-container">
                <nav class="navbar">
                    <div class="">
                        {% if g.user %}
                        <div class="container-fluid links">
                            <ul class="nav navbar-nav">
                                <li><a id="len1" class="hoverable bounce" href="{{ url_for('predict.get_profile')}}">Salut, {{g.user['username'].capitalize()}}</a></li>
                                <li><a id="len2" class="hoverable bounce" href="#!">Acceuil</a></li>
                                <li><a id="len3" class="hoverable bounce" href="#!">Historiques</a></li>
                                <li><a id="len4" class="hoverable bounce" href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="container-fluid links">
                            <ul class="nav navbar-nav">
                                <li><a id="len1" class="hoverable bounce" href="{{ url_for('auth.login') }}">Connexion</a></li>
                                <li><a id="len2" class="hoverable bounce" href="{{ url_for('auth.register') }}">Inscrire</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </nav>
            </div>
            <!-- Page contents -->
            <div class="container-content">
                {% block header %} {% endblock %}
            </div>
        </div> -->