{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{%endblock%}


{% block content %}
<form method="post">
    <div class="form">
        <div class="title">Salut, {{profile['username'].capitalize()}}</div>
        <div class="subtitle">Update your account details!</div>
        <div class="input-container ic2">
            <input name="email" id="email" class="input_form" type="email" required placeholder=" "
                value={{profile['email']}} />
            <div class="cut"></div>
            <label for="email" class="placeholder">Email</label>
        </div>
        <div class="input-container ic2">
            <input name="pass1" id="pass1" class="input_form" type="password" required placeholder=" " />
            <div class="cut"></div>
            <label for="pass1" class="placeholder">New Password</label>
        </div>
        <div class="input-container ic2">
            <input name="pass2" id="pass2" class="input_form" type="password" required placeholder=" " />
            <div class="cut"></div>
            <label for="pass2" class="placeholder">Confirm Password</label>
        </div>
        <button type="submit" class="submit">Update</button>
    </div>
</form>
{% endblock %}