* {
  margin: 0;
  padding: 0;
}
#main-box {
  background: url(https://s8.postimg.cc/y8k1qyiz9/house1.jpg) center center
    fixed;
  background-size: cover;
  font-family: monospace;
}
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.bar {
  width: 1100px;
  height: 40px;
  color: white;
  margin: 30px auto;
}

.bar ul {
  float: right;
  list-style: none;
  display: block;
}
.bar ul li {
  float: left;
  list-style: none;
  display: block;
  width: 210px;
  background-color: rgba(148, 148, 148, 0.3);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  margin-right: 4px;
  text-decoration: none;
  background-color: #15172b;
  border-radius: 25px;
  margin-top: 0px;
}
ul li a {
  display: block;
  cursor: context-menu;
  text-decoration: none;
  color: white;
}
ul li a:hover {
  display: block;
  background-color: floralwhite;
  color: steelblue;
  border-radius: 25px;
}
.bar ul li ul li {
  margin-bottom: 0;
  display: none;
}
.bar ul li:hover ul li {
  display: block;
}

.content {
  width: 100%;
  height: 70%;
  margin-top: 180px;
  align-items: center;
  opacity: 100%;
  /* background-color: aqua; */
  position: absolute;
}

.card {
  display: block;
  width: 500px;
  box-sizing: border-box;
  padding: 2em;
  font-family: Ubuntu;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  margin-left: 37%;
  position: relative;
  margin-top: 150px;
  background: #15172b;
}

.card.purple {
  background: linear-gradient(150deg, #f731db, #4600f1 100%);
  display: none;
}

.card.green {
  background: linear-gradient(150deg, #39ef74, #4600f1 100%);
}

button {
  text-transform: uppercase;
  width: 150px;
  display: block;
  margin: 0 auto;
  color: #4600f1;
  border-radius: 50px;
  padding: 1em;
  background: white;
  border: none;
  font-weight: bold;
  margin-top: 8em;
  bottom: 2px;
}

.bg-modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  overflow: auto;
}

.modal-content {
  width: 15%;
  height: 70%;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 20% auto;
  position: relative;
  animation-name: modalopen;
  animation-duration: 1s;
  overflow: scroll;
  margin-bottom: 20%;
  margin-left: 21%;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalclose {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.closeBtn {
  position: absolute;
  top: 10;
  transform: rotate(45deg);
  right: 10px;
  cursor: pointer;
  font-size: 42px;
  color: #ccc;
}

.closeBtn:hover {
  color: black;
}

.location-button {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-image: var(--gradient);
  font-weight: 700;
  -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.location-button:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.location-button .feather {
  height: 1em;
  width: auto;
  margin-right: 5px;
}

.result {
  display: none;
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  padding: 2em;
  font-family: Ubuntu;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  margin-left: 37%;
  position: relative;
  margin-top: 150px;
  background: #15172b;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
}
